.navbar-container.content {
    padding: 15px 30px;
}

.navbar-wrapper {
    background-color: #ffffff;
}

.dropdown.open.second.col-md-12 {
    padding-top: 10px;
}

a#dropdown-flag-4 {
    padding: 20px 40px;
}

a#dropdownMenuLink {
    background-color: white;
}

.logo img {
    width: 160px;
}

button.btn.btn-green {
    width: 100%;
    background: #FFA800;
    border-radius: 0;
    color: white;
}

ul.list-unstyled {
    font-size: 16px;
    padding-bottom: 5;
}

button.btn.yellowbtn {
    color: white;
    background-color: #FFA800;
}

button.btn.greenbtn {
    color: white;
    background-color: #ACC270;
}