<a href="./pages/login/login.html">Login</a><br/>
<a href="./pages/singup/signup.html">Signup</a><br/>
<a href="./pages/reset/reset.html">Reset</a><br/>
<a href="./pages/forgot-password/forgot-password.html">Forget Password</a><br/>
<a href="./pages/side-bar/side-bar.html">Side bar</a><br/>
<a href="./pages/parcels-consolidate/parcels-consolidate.html"> parcel consolidate</a><br/>
<a href="./pages/parsel/parse.html"> parcel</a><br/>
<a href="./pages/forgot/Forgot.html"></a><br/>
<a href=""></a><br/>
<a href=""></a><br/>