body#forgot {
    background-color: #ffffff;
}
.navbar-container.content {
    padding: 15px 30px;
}
.navbar-wrapper{
	background-color: #ffffff;
}
.dropdown.open.second.col-md-12 {
    padding-top: 10px;
}
a#dropdown-flag-4 {
    padding: 20px 40px;
}
a#dropdownMenuLink {
    background-color: white;
  
}
.logo img{
    width: 160px;
}
section.row {
    width: 575px;
    margin: 0 auto;
    padding-top: 50px;
}
.forgot_heading{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    color: #1E1E1E;
}
.card{
    box-shadow: none;
}
label.radio {
    font-size: 16px;
}
a.btn.btn_login.px-75 {
	width: 35%;
	background: #ACC270;
    box-shadow: 0px 5px 10px rgba(104, 116, 70, 0.2);
	border-radius: 8px;
	color:white;
}
.forgot{
    text-align: center;
}

.send-code-btn1{
    text-align: center;
	background: #ACC270;
    box-shadow: 0px 10px 20px rgba(122, 137, 81, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.send-code-btn2{
    text-align: center;
	background: #FFA800;
    box-shadow: 0px 10px 20px rgba(122, 137, 81, 0.1);
    border-radius: 8px;
    padding: 10px;
}

a{
    color: white !important;
}