/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
h2.brand-text {
    padding-top: 10px;
}
.main-menu.menu-light{
	height: 370px;
}
.form-label-group{
margin-bottom: 0;
}
.card-header.txt {
    padding:0;
}
button.btn.btn-success.mb-1.waves-effect.waves-light{
    float: right;
    padding: 10px;
}
.card-header.heading {
    padding: 0;
}
button.btn.btn-success.btn-p.waves-effect.waves-light {
    padding: 10px 15px;
}
.card.bg{
	background-color: transparent;
	box-shadow: none;
}
.card.one {
    background-color: transparent;
    box-shadow: none;
}
.wrap {
    padding: 40px 30px;
}
.navbar-container.content {
    padding: 15px 30px;
}
.navbar-wrapper{
	background-color: #ffffff;
}
.dropdown.open.second.col-md-12 {
    padding-top: 10px;
}
a#dropdown-flag-4 {
    padding: 20px 40px;
}
a#dropdownMenuLink {
    background-color: white;
  
}
input#floating-label2 {
	border:none;
	text-align: center;
}
.dropdown.open.col-md-12 {
    padding: 0;
}
a#dropdownMenuLinkbtn {
    width: 100%;
	border: 1px solid #D9D9D9;
	text-align: left;
}
a.list-group-item{
	padding: 0;
	border:none;
	
}
a.list-group-item.square{

   color: black;
}
a.list-group-item.square span{
color:gray;
}

i.fa.fa-check-square {
	margin-right: 23px;
	color: gray;
    font-size: 20px;
}
a.list-group-item.icon {
	padding-left: 45px;
	color:black;
}
a.list-group-item.icon span {
    color: gray;
}
.card-header.first {
    padding: 30px 0 0 20px;
}
.card.bg.col-md-12 {
	padding-right: 0;
	margin: 0;
}
button.btn.btn-success.greean.waves-effect.waves-light {
    padding: 8px 15px;
    border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.chine_icon img{
	
		width: 50px;
		height: 50px;
		margin-left: 15px;
	
}
button.btn.btn-warning.btn-btn.waves-effect.waves-light {
    padding: 10px 5px;
}
button.btn.btn-success.btn-btn.waves-effect.waves-light {
    padding: 10px 5px;
}




/*Login page*/


