.soft-bg-color {
    background-color: #ACC270 !important;
    color: white !important;
}

.orange-bg-color {
    background-color: #FFA800;
    color: white !important;
}

.shipped-color {
    background-color: #2BB1FD;
    color: white !important;
}

.all-color {
    background-color: #F37B47;
    color: white !important;
}

.soft-font-bi {
    font-family: Arial;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: #1E1E1E;
}