.navbar-container.content {
    padding: 15px 30px;
}
.navbar-wrapper{
	background-color: #ffffff;
}
.dropdown.open.second.col-md-12 {
    padding-top: 10px;
}
a#dropdown-flag-4 {
    padding: 20px 40px;
}
a#dropdownMenuLink {
    background-color: white;
  
}
.logo img{
    width: 160px;
}
h4.location.mb-0 {
    margin-top: 5px;
    font-size: 16px;
}
.card{

	background-color: transparent;
	box-shadow: none;
}
a#dropdownMenuLinkbtn {
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.1);
    border-radius: 8px;
    font-size: 12px;
    color:#5F5F5F;
    padding: 10px 10px;
}
h4.left-txt {
    color: #ACC270;
}
hr {
	margin-top: 10px;
    border: 0;
	border-top: 7px solid #ACC270;
border-radius: 10px;
}
input#user-name {
	padding: 20px 20px;
	box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.1);
    border-radius: 8px;
    border:none;
}
input#user-password {
	padding: 20px 20px;
	padding: 20px 20px;
	box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.1);
    border-radius: 8px;
    border:none;
}
a.card-link{
	color: #FFA800;
}
button.btn.btn_login.btn-inline {
	width: 100%;
	background: #ACC270;
    box-shadow: 0px 5px 10px rgba(104, 116, 70, 0.2);
	border-radius: 8px;
	color:white;
}
.line {
	border: 1px solid #B5B5B5;
    margin: 10px 25px;
}
p.line_txt{
	text-align: center;
	color: #B5B5B5;
}
.footer-btn.mx-4{

    text-align: center;
}
.signup_txt{
	text-align: center;
}
.signup_txt a{
	color: #FFA800;
}