.navbar-container.content {
    padding: 15px 30px;
}

.navbar-wrapper {
    background-color: #ffffff;
}

.dropdown.open.second.col-md-12 {
    padding-top: 10px;
}

a#dropdown-flag-4 {
    padding: 20px 40px;
}

a#dropdownMenuLink {
    background-color: white;
}

.logo img {
    width: 160px;
}

ul.list-unstyled {
    font-size: 16px;
    padding-bottom: 5;
}

button.btn.yellowbtn {
    color: white;
    background-color: #FFA800;
}

button.btn.greenbtn {
    color: white;
    background-color: #ACC270;
}

.bg-color {
    background: #E5E5E5;
}

.mb-15 {
    margin-bottom: 25px;
}

.fp-text {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
    align-items: center;
    color: #1E1E1E;
}

.fp-btn {
    box-shadow: 0px 10px 20px rgba(122, 137, 81, 0.1);
    border-radius: 8px;
    padding: 12px 35px;
}

.fp-btn a {
    color: white !important;
}

.send-code-btn {
    text-align: center;
    box-shadow: 0px 10px 20px rgba(122, 137, 81, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.send-code-btn a {
    color: white !important;
}